:root {
  --primary-color: #3498db;
  --primary-color-dark: #2980b9;
  --secondary-color: #1abc9c;
  --background-color: #ecf0f1;
  --text-color: #2c3e50;
  --border-color: #ddd;
  --shadow-color: rgba(0, 0, 0, 0.1);
  --health-green: #4caf50;
  --health-red: #f44336;
}

@font-face {
  font-family: 'Fira Code';
  src: url(/font/FiraCode-Regular.ttf) format('truetype');
  font-weight: 400;
  font-style: normal;
}

body {
  margin: 0;
  font-family: "Fira Code","Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  min-height: 100vh;
  background-color: var(--background-color);
}

/* General Layout */
#container {
  display: flex;
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
}

/* Sidebar Styles */
#sidebar {
  width: 220px; /* Adjust as needed */
  background-color: #2c3e50;
  color: white;
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
  height: 100%;
  overflow-y: auto;
  transition: transform 0.3s ease; /* Smooth transition for mobile */
}

#sidebar button {
  background-color: var(
    --secondary-color
  ); /* Background color for the buttons */
  color: white;
  border: none;
  border-radius: 5px;
  padding: 12px 20px;
  font-size: 1em;
  margin: 10px 0;
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s;
  width: calc(100% - 20px); /* Full width minus padding */
  text-align: left; /* Align text to the left */
  display: flex;
  align-items: center; /* Center items vertically */
  box-shadow: 0 2px 4px var(--shadow-color); /* Add shadow for better visibility */
}

/* Hover and Active States */
#sidebar button:hover {
  background-color: var(--primary-color-dark); /* Darker color on hover */
  box-shadow: 0 4px 8px var(--shadow-color); /* Increase shadow on hover */
}

#sidebar button:active {
  background-color: var(--primary-color); /* Even darker color when active */
  transform: scale(0.98); /* Slightly scale down when pressed */
}

#sidebar.hidden {
  transform: translateX(-100%);
}

#main-content {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  width: 100%; /* Ensure it takes full width of its container */
  
}

#main-content section {
  width: 100%; /* Full width within the container */
  margin: 20px auto; /* Center the section horizontally */
  box-sizing: border-box;
}

#main-content h1 {
  margin-top: 0;
  font-size: 2em;
  border-bottom: 2px solid var(--primary-color);
  padding-bottom: 10px;
  color: var(--text-color);
}

section h2 {
  text-align: center;
}

.header-container {
  display: flex;
  align-items: center; /* Align items vertically in the center */
  justify-content: space-between; /* Space them out */
  gap: 10px; /* Optional: Adds some spacing between the elements */
}

.header-container h3 {
  margin: 0;
}

#info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 15px;
  border: 1px solid var(--border-color);
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 2px 4px var(--shadow-color);
}

#info p {
  margin: 0;
  font-size: 14px;
  flex: 1;
  text-align: center;
}

#selection-container {
  text-align: center;
}

#stats {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Center items horizontally */
  gap: 20px;
}

#player-display {
  padding: 15px;
  border: 1px solid var(--border-color);
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 2px 4px var(--shadow-color);
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#attack-container {
  text-align: center;
  margin-top: 20px;
}

@keyframes attack-animation {
  0% {
    transform: scale(1);
    background-color: var(--primary-color);
  }
  50% {
    transform: scale(0.95);
    background-color: var(--primary-color-dark);
  }
  100% {
    transform: scale(1);
    background-color: var(--primary-color);
  }
}

#attack-button {
  padding: 12px;
  font-size: 1.2em;
  background-color: var(--primary-color);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s;
}

#attack-button:active {
  animation: attack-animation 0.3s ease;
}

#attack-button:hover {
  background-color: var(--primary-color-dark);
  box-shadow: 0 4px 8px var(--shadow-color);
}

#inventory {
  height: 90vh;
  max-height: 90vh;
  min-height: 20vh;
  overflow-y: auto;
  padding: 10px;
  border: 1px solid var(--border-color);
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 2px 4px var(--shadow-color);
}

.inventory-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  gap: 10px;
}

.inventory-item {
  width: 100%; /* Full width of the grid cell */
  height: 100px; /* Fixed height to maintain aspect ratio */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
  background-color: #f4f4f4;
  transition: background-color 0.3s, box-shadow 0.3s;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.inventory-item:hover {
  background-color: #e2e2e2;
  box-shadow: 0 2px 6px var(--shadow-color);
}

#inventory-controls {
  margin-bottom: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

#inventory-controls button {
  padding: 8px 12px;
  font-size: 14px;
  background-color: var(--primary-color);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s;
}

#inventory-controls button:hover {
  background-color: var(--primary-color-dark);
  box-shadow: 0 4px 8px var(--shadow-color);
}

.hidden {
  display: none;
}

#health-bar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  width: 100%;
  max-width: 320px;
}

#health-bar {
  width: 100%;
  height: 30px;
  border: 2px solid var(--border-color);
  border-radius: 5px;
  background-color: var(--health-red);
  position: relative;
  box-shadow: 0 2px 4px var(--shadow-color);
  display: flex;
  align-items: center;
  overflow: hidden;
}

#health-bar-fill {
  height: 100%;
  width: 100%;
  border-radius: 5px;
  background-color: var(--health-green);
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}

#name-label,
#health-label,
#level-label {
  position: absolute;
  color: #fff;
  margin: 0;
}

#name-label {
  left: 10px;
}

#health-label {
  text-align: center;
  left: 0;
  right: 0;
}

#level-label {
  right: 10px;
}

#footer {
  background-color: var(--primary-color-dark);
  color: white;
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

#skilltree {
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
}

#skilltree h1 {
  font-size: 2rem;
  margin-bottom: 10px;
}

#skilltree h2 {
  font-size: 1.5rem;
  color: #333;
  margin-bottom: 20px;
}

#skill-tree-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.skill-class-container {
  flex: 1;
  min-width: 200px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.skill-class-container h3 {
  font-size: 1.25rem;
  margin-bottom: 15px;
  color: #555;
}

.skill {
  background-color: #f4f4f4;
  border: 1px solid #ddd;
  border-radius: 6px;
  padding: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s;
}

.skill:hover {
  background-color: #e0e0e0;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.skill p {
  margin: 0;
  font-size: 0.875rem;
  color: #333;
}

.skill p strong {
  font-size: 1rem;
  color: #000;
}

#skill-details {
  margin-top: 20px;
  padding: 15px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#skill-details h3 {
  font-size: 1.25rem;
  margin-bottom: 10px;
  color: #555;
}

#skill-details p {
  margin: 0;
  font-size: 0.875rem;
  color: #666;
}

#unlock-skill-button {
  margin-top: 15px;
  padding: 10px 15px;
  background-color: #28a745;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s;
}

#unlock-skill-button:hover {
  background-color: #218838;
}

.achievement-box {
  border: 2px solid #ccc;
  background-color: #f9f9f9;
  padding: 10px;
  text-align: center;
  border-radius: 8px;
  transition: transform 0.2s ease;
}

.achievement-box p {
  margin: 5px 0;
}

.achievement-box:hover {
  transform: scale(1.05); /* Slight zoom on hover */
  border-color: #ffa500; /* Change border color on hover */
}

#rebirths {
  text-align: center;
  margin: 20px;
}

#rebirths h2,
#rebirths p {
  margin-bottom: 10px;
}

#rebirth-button {
  background-color: #f0a500;
  border: none;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#rebirth-button:hover {
  background-color: #d08c00;
}

#progress-bar-container {
  width: 100%;
  max-width: 400px; /* Optional: Limit the width */
  margin: 20px auto; /* Center it and add some space */
  padding: 10px;
}

#progress-bar {
  width: 100%;
  height: 25px; /* Taller progress bar */
  background-color: #e0e0e0;
  border-radius: 12.5px;
  overflow: hidden;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Add a shadow for depth */
  border: 1px solid #bbb; /* Light border for definition */
}

#progress-bar-fill {
  width: 0%; /* Start at 0% */
  height: 100%;
  background: linear-gradient(90deg, #00b300, #33cc33);
  transition: width 0.5s ease;
  border-radius: 12.5px 0 0 12.5px; /* Rounded corners on the left */
  box-shadow: inset 0 -2px 4px rgba(0, 0, 0, 0.2); /* Inner shadow for a glossy effect */
}
